@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

label.required::after {
  content: " *";
  color: red;
}

@theme {
  --font-montserrat: Montserrat, sans-serif;
  --font-roboto: Roboto, sans-serif;
}